<div class="col s4">
  <div class="card medium yellow lighten-5">
    <div class="card-content text-indigo darken-4">
      <span class="card-title">{{StateBillID}}: {{BillName}}</span>
      <p>{{Summary}}</p>
    </div>
    <div class="card-action">
      <button class="billTrack" value="{{BillID}}">Track this bill..</button>
      <a id="learnMore" href="/bills/bill={{BillID}}" style="">Learn more..</a>
    </div>
  </div>
</div>
<script>  // Or with jQuery
  
</script>