<div class="col s4">
  <div class="card medium yellow lighten-5">
    <div class="card-content text-indigo darken-4">
      <span class="card-title">{{StateBillID}}: {{BillName}}</span>
      <p>{{Summary}}</p>
    </div>
    <div class="card-action">
      <a id="billTrack" href="/bills/bill={{BillID}}" data-billID="{{BillID}}">Track this bill..</a>
      <a id="learnMore" href="/bills/bill={{BillID}}" style="">Learn more..</a>
    </div>
  </div>
</div>